@model IEnumerable<AplicativoSponsor.Models.Evento>

@{
    ViewBag.Title = "FeedEventos - SPONSOR";

    if (Session["id_logado"] != null)
    {

        Layout = "~/Views/Shared/_LayoutLogado.cshtml";

    }

    if (Session["id_logado"] == null)
    {

        Layout = "~/Views/Shared/_LayoutDeslogado.cshtml";

    }

}

<br>
<br>
<br>
<br>
<div class="mt-5">
</div>

<body>



    


        <div class="container mx-auto" style="margin-left:140px;">


            <div class="row row-cols-4">

                @foreach (var item in Model)
                {

                    <div class="col">

                        <div class="card" style="width: 18rem; margin-bottom:30px; min-height:600px;   max-height:600px; ">

                                @{ var imagePath = "";
                                    imagePath = @"/Capa_Evento/" + item.Id_evento + ".png";
                                }

                                @if (imagePath != "")
                                {
                                    <img src="@imagePath" class="card-img-top" alt="...">
                                }

                                <div class="card-body" id="desc"
                                     style=" white-space:nowrap;   max-height:100px;  overflow:hidden; text-overflow:ellipsis;">
                                    <h5 class="card-title">@Html.DisplayFor(modelitem => item.Nome_evento)</h5>
                                    <span class="card-text">@Html.DisplayFor(modelItem => item.Descricao_evento)</span>
                                </div>

                                <ul class="list-group list-group-flush" style="max-height: 100px">

                                    <li class="list-group-item"><span>Categoria: @Html.DisplayFor(modelItem => item.Categoria_evento)</span></li>

                                    <li class="list-group-item"><span>Data inicio: @Html.DisplayFor(modelItem => item.Data_inicio)</span></li>

                                    <li class="list-group-item"><span>Data final: @Html.DisplayFor(modelItem => item.Data_final)</span></li>
                                </ul>


                                <div class="card-body">
                                    <p>
                                    
                                        <button class="btn btn-info" type="submit" >@Html.ActionLink("Detalhes", "Details/" + @Html.DisplayFor(modelItem => item.Id_evento))</button>

                                    </p>
                                </div>
                            </div>

                    </div>



                }





            </div>






        </div>





    </body>

