@model AplicativoSponsor.Models.Empresa

@{
    ViewBag.Title = "Detalhes - SPONSOR";

    if (Session["id_logado"] != null)
    {

        Layout = "~/Views/Shared/_LayoutLogado.cshtml";

    }

    if (Session["id_logado"] == null)
    {

        Layout = "~/Views/Shared/_LayoutDeslogado.cshtml";

    }


}
<br>
<br>
<br>


<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class=" row clearfix img-evento">
            <div class="col-xl-5 col-lg-5 col-sm-12 event-image">
                @{ var imagePath = "";
                    imagePath = @"/Capa_Empresa/" + Model.Id_empresa + ".png";
                }

                @if (imagePath != "")
                {
                    <img src="@imagePath" class="card-img-top" alt="..." width="100px" height="100px">
                }
            </div>


            <div class="col-xl-6 col-lg-6 col-sm-12 event-info offset-lg-1">

                <h1 class="masthead-heading text-uppercase mb-0"> @Html.DisplayFor(model => model.RazaoSocial)</h1>
                <h2> @Html.DisplayFor(model => model.NomeResp)</h2>

                <div style="margin-top:-10px; font-size:large">
                    <sub>País:</sub>
                    <p class="control-label">

                        <span>
                            @Html.DisplayFor(model => model.Pais)

                        </span>


                    </p>
                </div>


                <div style="margin-top:-10px; font-size:large">
                    <sub>Estado:</sub>
                    <p class="control-label">

                        <span>
                            @Html.DisplayFor(model => model.Estado)

                        </span>


                    </p>
                </div>


                <div style="margin-top:-10px; font-size:large">
                    <sub>Cidade:</sub>
                    <p class="control-label">

                        <span>

                            @Html.DisplayFor(model => model.Cidade)
                        </span>


                    </p>
                </div>

                <div style="margin-top:-10px; font-size:large">
                    <sub>Endereço:</sub>
                    <p>

                        <span>
                            @Html.DisplayFor(model => model.Rua),  @Html.DisplayFor(model => model.Numero)

                        </span>


                    </p>
                </div>

                <div style="margin-top:-10px; font-size:large">
                    <sub>CEP:</sub>
                    <p>

                        <span>
                            @Html.DisplayFor(model => model.CEP)

                        </span>


                    </p>
                </div>












            </div>
        </div>

        <div style="margin-top:-30px; max-width:370px">
            <h6>Sobre:</h6>
            <p>
                @Html.DisplayFor(model => model.Descricao_Empresa)
            </p>
        </div>

   
    <div class="form-group">

        <button type="button" class="btn btn-dark">@Html.ActionLink("Empresas", "MeuEmpresa")</button>
        <button type="button" class="btn btn-dark">@Html.ActionLink("Editar", "Edit/" + @Html.DisplayFor(model => model.Id_empresa))</button>


    </div>

    <div class="col-sm-2"></div>

   </div>
</div>
