@model IEnumerable<AplicativoSponsor.Models.Empresa>
@{
    ViewBag.Title = "MeuEmpresa - SPONSOR";

    if (Session["id_logado"] != null)
    {

        Layout = "~/Views/Shared/_LayoutLogado.cshtml";

    }

    if (Session["id_logado"] == null)
    {

        Layout = "~/Views/Shared/_LayoutDeslogado.cshtml";

    }


}

<br>
<br>
<br>
<br>
<div class="mt-5">
</div>

<body>



    <div class="container mx-auto" style="margin-left:140px;">

        <div class="row row-cols-4">

            @foreach (var item in Model)
            {

                <div class="col">

                    <div class="card" style="width: 18rem; margin-bottom:30px; min-height:600px;   max-height:600px; ">

                        @{ var imagePath = "";
                            imagePath = @"/Capa_Empresa/" + item.Id_empresa + ".png";
                        }

                        @if (imagePath != "")
                        {
                            <img src="@imagePath" class="card-img-top" alt="...">
                        }

                        <div class="card-body" id="desc"
                             style=" white-space:nowrap;   max-height:100px;  overflow:hidden; text-overflow:ellipsis;">
                            <h5 class="card-title">@Html.DisplayFor(modelitem => item.RazaoSocial)</h5>
                            <span>@Html.DisplayFor(modelItem => item.Descricao_Empresa)</span>
                        </div>

                        <ul class="list-group list-group-flush" style="max-height: 100px">

                            <li class="list-group-item"><span>País: @Html.DisplayFor(modelItem => item.Pais)</span></li>

                            <li class="list-group-item"><span>Estado: @Html.DisplayFor(modelItem => item.Estado)</span></li>

                            <li class="list-group-item"><span>Cidade: @Html.DisplayFor(modelItem => item.Cidade)</span></li>
                        </ul>


                        <div class="card-body">
                            <p>
                                <button class="btn btn-info" type="submit">@Html.ActionLink("Detalhes", "DetailsM/" + @Html.DisplayFor(modelItem => item.Id_empresa))</button>

                            </p>
                        </div>
                    </div>

                </div>





            }
        </div>

    </div>



</body>

