@model AplicativoSponsor.Models.Evento
@{
    ViewBag.Title = "Detalhes - SPONSOR";

    if (Session["id_logado"] != null)
    {

        Layout = "~/Views/Shared/_LayoutLogado.cshtml";

    }

    if (Session["id_logado"] == null)
    {

        Layout = "~/Views/Shared/_LayoutDeslogado.cshtml";

    }


}
<br>
<br>
<br>


<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class=" row clearfix img-evento">
            <div class="col-xl-5 col-lg-5 col-sm-12 event-image">

                @{ var imagePath = "";
                    imagePath = @"/Capa_Evento/" + Model.Id_evento + ".png";
                }

                @if (imagePath != "")
                {
                    <img src="@imagePath" class="card-img-top" alt="..." width="100px" height="100px">
                }
            </div>


            <div class="col-xl-6 col-lg-6 col-sm-12 event-info offset-lg-1">

                <h1 class="masthead-heading text-uppercase mb-0"> @Html.DisplayFor(model => model.Nome_evento)</h1>
                <h2> @Html.DisplayFor(model => model.Categoria_evento)</h2>

                <div style="margin-top:-10px; font-size:large">
                    <sub>Data:</sub>
                    <p class="control-label">
                        De:
                        <span>
                            @Html.DisplayFor(model => model.Data_inicio)

                        </span>
                        até:
                        <span>
                            @Html.DisplayFor(model => model.Data_final)
                        </span>
                    </p>
                </div>

                <div style="margin-top:-10px; font-size:large">
                    <sub>Horário:</sub>
                    <p>
                        Das:
                        <span>
                            @Html.DisplayFor(model => model.Hora_inicio)
                        </span>
                        até:
                        <span>
                            @Html.DisplayFor(model => model.Hora_final)
                        </span>

                    </p>
                </div>

                <div style="margin-top:-10px; font-size:large">
                    <sub>Local:</sub>
                    <p class="control-label">

                        <span>
                            @Html.DisplayFor(model => model.Local_evento)
                        </span>
                    </p>
                </div>

                <div style="margin-top:-10px; font-size:large ">
                    <sub>Publico estimado:</sub>
                    <p class="control-label">

                        <span>
                            @Html.DisplayFor(model => model.Publico_estimado)
                        </span>
                    </p>
                </div>



               



            </div>
        </div>

        <div style="margin-top:-30px; max-width:370px">
            <h6>Sobre:</h6>
            <p>
                @Html.DisplayFor(model => model.Descricao_evento)
            </p>
        </div>


     
       
        <p>

            <button type="button" class="btn btn-dark">@Html.ActionLink("Eventos", "MeuEvento")</button>
            <button type="button" class="btn btn-dark">@Html.ActionLink("Editar", "Edit/" + @Html.DisplayFor(model => model.Id_evento))</button>




        </p>
      
        <div class="col-sm-2"></div>

    </div>
</div>

